{% load static %}
<div class="container py-5">
    <div class="row">
        <div class="col-sm-5">
            <div class="d-flex align-items-center gap-3">
                <img src="{% static 'images/logos/logo.webp' %}" alt="Volver" width="80">
                <h3 class="h5 fw-bold">Simulador Transformar Precavidos</h3>
            </div>
            <h4 style="font-weight: 400; font-size: 0.75rem; line-height: 1.66">La mejor plataforma para practicar el examen TRANSFORMAR para el ingreso a la Universidad. Con este 
                simulador practica tus aptitudes en razonamiento Lógico, Numérico, Verbal, Abstracto, Atención y Concentración.
            </h4>
        </div>
        <div class="col">
            <h3 class="h5 fw-bold">Precavidos</h3>
            <div>
                <a href="" class="link-primary" title="Términos y condiciones">Términos y Condiciones</a>
            </div>
            <div>
                <a href="" class="link-primary" title="Políticas de privacidad">Políticas de Privacidad</a>
            </div>
            <h3 class="h5 fw-bold mt-3">Contacto</h3>
            <p>contacto.precavidos@gmail.com</p>
        </div>
        <div class="col text-center">
            <h3 class="h5 fw-bold text-center">Descarga la App de Simulador Transformar Precavidos</h3>
            <a href="https://play.google.com/store/apps/details?id=com.preonline" title="Aplicación Examen Transformar 2023" target="_blank">
                <img src="{% static 'images/logos/googleplay.webp' %}" alt="Volver" width="180">
            </a>
        </div>
    </div>
</div>